
/* Contacto html */

$colorBlanco : white;
$letra : Arial, Helvetica, sans-serif;
$colorBase: #126a92;    
$colorBordes: #092a49;
$colorBorderBoxes: rgba(0, 0, 0, .1);
.contacto {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

    .contacto-info {
        position: relative;
        display: flex;
        padding: 30px;
        border: 1px solid $colorBorderBoxes;
        margin-bottom: 30px;
        transition: .3s;
    
}
.contacto .contacto-info:hover {
    border-color: transparent;
    box-shadow: 0 0 30px $colorBorderBoxes;
}

.contacto .contacto-icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $colorBorderBoxes;
}

.contacto .contacto-icon i {
    font-size: 18px;
    color: $colorBase;
}

.contacto .contacto-text {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.contacto .contacto-text h3 {
    font-size: 16px;
    font-weight: 400;
    color: $colorBordes;
    letter-spacing: 1px;
}

.contacto .contacto-text p {
    margin: 0;
    font-size: 16px;
}

.contacto .contacto-form {
    position: relative;
    padding: 30px;
    border: 1px solid $colorBorderBoxes;
    margin-bottom: 30px;
    transition: .3s;
}

.contacto .contacto-form:hover {
    border-color: transparent;
    box-shadow: 0 0 30px $colorBorderBoxes;
}

.contacto .contacto-form input {
    padding: 15px;
    background: none;
    border-radius: 0;
    border: 1px solid $colorBorderBoxes;
}

.contacto .contacto-form textarea {
    height: 100px;
    padding: 8px 15px;
    background: none;
    border-radius: 0;
    border: 1px solid $colorBorderBoxes;
}

.contacto .contacto-form .btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $colorBordes;
    background: none;
    border: 2px solid $colorBordes;
    border-radius: 0;
    transition: .3s;
}

.contacto .contacto-form .btn:hover {
    color: $colorBlanco;
    background: $colorBase;
}

.contacto .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container .Ubicacion {
	margin:0 auto;
	position:relative;
}
.mapa {
	padding: 30px;
}
